/* Estilos Globais */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
}

input[type="text"]:focus, select:focus {
    border-color: #db0001;
    outline: none;
}

button {
    display: block;
    width: 10px;
    padding: 20px;
    background-color: #df0e0e;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a80000;
    color: #ffffff;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem conforme o tamanho da tela */
    justify-content: space-around; /* Espaçamento entre os itens */
    align-items: flex-start; /* Alinha itens ao topo */
    gap: 20px; /* Espaçamento entre os itens */
}

.form-cadastro {
    flex-basis: 45%; /* Define uma largura base para o formulário */
    max-width: 45%; /* Impede que o formulário ultrapasse a largura definida */
}

.produto-card {
    flex-basis: 45%; /* Define uma largura base para o card do produto */
    max-width: 45%; /* Impede que o card do produto ultrapasse a largura definida */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.produto-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: start; /* Alinha os itens ao início */
    height: 100vh; /* Faz o contêiner ocupar a altura total da janela */
    padding: 20px;
}

.content-wrapper {
    display: flex;
    align-items: flex-start; /* Alinha os itens ao início */
    width: 100%; /* Utilize uma porcentagem ou valor fixo que satisfaça seu layout */
    max-width: 1200px; /* Um valor máximo para a largura total */
}

.form-container {
    flex: 1; /* Faz ambos os itens compartilharem igualmente o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.img-container {
    flex: 1; /* Faz ambos os itens compartilharem igualmente o espaço disponível */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Centraliza a imagem horizontalmente */
    margin-top: 140px; /* Adiciona um espaçamento no topo, ajuste conforme necessário */
    margin-left: 10px;
}


.form-container {
    margin-right: 20px; /* Espaçamento entre o formulário e a imagem */
}

.form-container label,
.form-container input {
    width: 100%; /* Faz todos os campos terem a mesma largura */
    margin-bottom: 10px; /* Espaçamento entre os campos */
}

.form-container select{
    width: 106%; /* Faz todos os campos terem a mesma largura */
    margin-bottom: 10px; /* Espaçamento entre os campos */
}


.img-container {
    justify-content: center; /* Centraliza a imagem verticalmente */
    align-items: center; /* Centraliza a imagem horizontalmente */
}
@keyframes slideInFromLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .img-container img.animate-image {
      animation: slideInFromLeft 0.5s ease-out forwards;
  }
  
.img-container img {
    width: auto; /* Mantém a largura original da imagem */
    max-height: 400px; /* Limita a altura da imagem */
}




/* Ajustes de responsividade para dispositivos móveis */
@media (max-width: 767px) {
    .form-cadastro, .produto-card {
        flex-basis: 100%; /* Faz os elementos ocuparem a largura total em dispositivos móveis */
        max-width: 100%; /* Ajusta para a largura total para evitar sobrecarga */
    }

    .container-wrapper, .content-wrapper {
        flex-direction: column; /* Empilha os elementos verticalmente em telas menores */
    }

    .form-container, .img-container {
        margin-right: 0; /* Remove a margem direita em dispositivos móveis para alinhamento completo */
        margin-top: 20px; /* Adiciona um pouco de espaço acima para separação visual */
        justify-content: center; /* Centraliza o conteúdo verticalmente em seu contêiner */
    }

    .img-container img {
        max-width: 90%; /* Permite que a imagem seja ligeiramente menor que a largura total para margens */
        height: auto; /* Mantém a proporção da imagem */
    }

    button {
        padding: 10px; /* Reduz o preenchimento para melhor ajuste */
        font-size: 14px; /* Ajusta o tamanho da fonte para melhor leitura em telas menores */
    }
}

/* Ajustes para larguras específicas */
@media (min-width: 768px) {
    /* (revisar conforme necessário) */
    .container {
        /* Ajustes específicos para telas maiores */
    }
}


